
@{
    ViewBag.Title = "About";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Content/media/sky.jpg"></div>
    <h3 class="centered">Unser Team</h3>
</div>

<table>
    <tr>
        <td class="about_card">
            <img class="we" src="~/Content/media/Mario.jpg">
            <h3>Mario Bernardi</h3>
            <h5><a href="mailto:marbernardi@tsn.at">marbernardi@tsn.at</a></h5>
             
        </td>

        <td class="about_card">
            <img class="we" src="~/Content/media/Manuel.jpg">
            <h3>Manuel Reismann</h3>
            <h5><a href="mailto:mareismann@tsn.at">mareismann@tsn.at</a></h5>
                
        </td>

    </tr>
</table>

<div class="parallax-container">
    <div class="parallax"><img src="~/Content/media/sky.jpg"></div>
</div>
